* {
  box-sizing: border-box;
}

/* Header */

header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #181818;
  z-index: 100;
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  flex-direction: row;
  flex-grow: 1;
  font-family: Acme;
}

header h2 {
  color: #e15f41;
}

.hamburger-box *:before,
.hamburger-box *:after,
.hamburger-box * {
  background: white;
}

/* Carousel Section */

.carousel-section {
  display: flex;
  position: relative;
  flex-basis: 100%;
  text-align: center;
}

.carousel-slider {
  position: relative;
  width: 100%;
  height: 55vh;
  flex-flow: column wrap;
  flex-grow: 1;
}

.carousel-slider::-webkit-scrollbar{
  width: 0;
  height: 0;
}

.title-container {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  padding-top: 2%;
  z-index: 30;
  color: white;
  background: rgb(24, 24, 24);
  background: linear-gradient(
    180deg,
    rgba(24, 24, 24, 1) 0%,
    rgba(24, 24, 24, 0.95) 20%,
    rgba(24, 24, 24, 0.1) 96%
  );
  font-size: 1rem;
  font-family: Acme;
}

.slider-slides {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: center;
  flex-flow: column wrap;
  z-index: 10;
  opacity: 1;
  visibility: visible;
}

.slider-slides img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 0;
  flex-grow: 1;
}

.carrousel-options {
  display: flex;
  position: absolute;
  width: 100vw;
  height: auto;
  top: 90%;
  justify-content: center;
  z-index: 30;
}

.carrousel-options .glider-dot {
  margin: .6rem;
  padding: .6rem;
  background: rgba(0, 0, 8, 40%);
  border-radius: 50%;
  border-color: white;
  border-style: solid;
}

.carrousel-options .glider-dot.active {
  background-color: white;
}

/* Main Container */

.main-container {
  display: flex;
  flex-flow: column wrap;
  background-color: #181818;
  width: 100vw;
  justify-content: center;
}

.most-popular-manga,
.most-popular-manhwa {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  flex-basis: 100%;
  justify-content: space-evenly;
  padding-right: 1%;
  padding-left: 1%;
  flex-grow: 1;
}

.manga-container-one,
.manga-container-two,
.manhwa-container-one,
.manhwa-container-two {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  width: 100%;
  flex-basis: 100%;
}

.title-manga-container-principal,
.title-manga-container,
.title-manhwa-container-principal,
.title-manhwa-container  {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

.title-manga-container-principal,
.title-manhwa-container-principal{
  font-family: Acme;
}

.title-manga-container,
.title-manhwa-container{
  font-family: Montserrat-Italic, monospace;
}

.title-manga-container h3,
.title-manhwa-container h3{
  margin: 0.5em;
}

.title-manga,
.title-manhwa{
  font-size: 1.1rem;
  font-weight: initial;
}

.manga-background,
.manhwa-background {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  width: 100%;
}

.image-manga-container,
.image-manhwa-container{
  display: flex;
  width: 100%;
  flex-basis: 100%;
  height: 21vh;
  flex-grow: 1;
  justify-content: center;
}

.manga-background .image-manga-container img,
.manhwa-background .image-manhwa-container img {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 1rem;
  flex-grow: 1;
}

.manga-background .status-manga,
.manhwa-background .status-manhwa {
  display: flex;
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  background: rgba(18, 18, 18, 0.5);
  background: rgb(24, 24, 24);
  background: linear-gradient(
    270deg,
    rgba(24, 24, 24, 1) 0%,
    rgba(24, 24, 24, 1) 20%,
    rgba(253, 254, 255, 0) 96%
  );
  flex-flow: column wrap;
  justify-content: center;
  flex-grow: 1;
  border-radius: 0 .5rem .5rem 0;
}

.manga-background .status-manga h4,
.manhwa-background .status-manhwa h4 {
  margin: 0;
}

.status-manga .like-status,
.status-manga .calification-status,
.status-manga .publication-status,
.status-manhwa .like-status,
.status-manhwa .calification-status,
.status-manhwa .publication-status{
  display: flex;
  width: 80%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  flex-grow: 1;
}

.status-manga .button-next-container,
.status-manhwa .button-next-container{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: 1;
}

.button-next-container img{
  flex-grow: 1;
}

.status-icon-container {
  display: flex;
  width: 50%;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
}

.status-text-container {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: Monserrat-Italic, monospace;
}

/* Footer */

footer.footer-container{
  display: flex;
  width: 100vw;
  height: auto;
  flex-flow: row wrap;
  flex-grow: 1;
}

.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 1.2rem;
  font-family: Acme, monospace;
  color: #e15f41;
  flex-flow: row wrap;
  flex-grow: 1;
}

.logo-container h2{
  margin: 0;
}

.about-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding-left: 1%;
  padding-right: 1%;
  flex-flow: row wrap;
  flex-grow: 1;
}

.about-container a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: Monserrat, monospace;
}

.about-container a:first-child{
  word-spacing: -0.3rem;
}

.social-media-container{
  display: flex;
  width: 100%;
  height: 3.5rem;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
}